body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    color: white;
}

#cabe{
    color: white;
    text-align: center;
}


ul {
    position: relative;
    background-color: darkgoldenrod;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 16px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

ul li:hover {
    background-color: lightyellow;
}



/* DIV CENTRAL*/

#central {
    background-image: url("../img/crono.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    min-height: 300px;
    width: 100%;
    float: left;
}

#pcrono{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    
}


footer {
    clear: both;
    background-color: darkgoldenrod;
    height: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px 0px 5px;
    color: white;
}

/*QUEM SOMOS*/

.pqq{
    color: white;
    text-shadow: black;
}

.pq{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}